
NEXT_PUBLIC_APP_URL=http://localhost:3000

------------------------------------------
DATABASE_URL='postgres://[user]:[password]@[neon_hostname]/[dbname]?sslmode=require'

NEXTAUTH_SECRET=your-secret
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GITHUB_OAUTH_TOKEN=your-github-oauth-token
RESEND_API_KEY=your-resend-api-key
STRIPE_API_KEY=your-stripe-api-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret
NEXT_PUBLIC_STRIPE_PRO_MONTHLY_PLAN_ID=your-stripe-pro-monthly-plan-id
NEXT_PUBLIC_STRIPE_PRO_YEARLY_PLAN_ID=your-stripe-pro-yearly-plan-id
NEXT_PUBLIC_STRIPE_BUSINESS_MONTHLY_PLAN_ID=your-stripe-business-monthly-plan-id
NEXT_PUBLIC_STRIPE_BUSINESS_YEARLY_PLAN_ID=your-stripe-business-yearly-plan-id